/ozmoPol_WebSrv/nbproject/private/
/ozmoPol_WebSrv/build/
/ozmoPol_WebSrv/dist/
/ozmo_test/nbproject/private/
/ozmo_test/build/
/ozmo_test/dist/
/ozmoPol_WS_GF3/nbproject/private/
/ozmoPol_WS_GF3/build/
/ozmoPol_WS_GF3/dist/
/autoTestREST_ozmoPol_WS_GF3/nbproject/private/
/autoTestREST_ozmoPol_WS_GF3/build/
/autoTestREST_ozmoPol_WS_GF3/dist/